<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Discussion</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeConnection()">Quitter</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="stream">
    <ng-container *ngFor="let message of messages; index as i">
      <ion-item lines="none" color="none">
        <ion-badge class="ion-text-wrap" slot="start" color="medium" *ngIf="message.userId != this.myId"><div class="name">Partenaire&nbsp;</div><div class="msg">{{ message.message }}</div><div class="time">{{ message.date | date:'shortTime' }}</div></ion-badge>
        <ion-badge class="ion-text-wrap" slot="end" color="primary" *ngIf="message.userId == this.myId"><div class="msg">{{ message.message }}</div><div class="time">{{ message.date | date:'shortTime' }}</div></ion-badge>
      </ion-item>
    </ng-container>
  </div>
</ion-content>
<ion-footer>
  <ion-grid>
    <ion-row class="send-row">
      <ion-col size="10" class="textarea-col">
        <!--autoGrow="true" bug-->
        <ion-textarea spellcheck="true" [(ngModel)]="messageText" type="text" placeholder="Entrez votre message" name="message"></ion-textarea>
      </ion-col>
      <ion-col size="2" class="send-col">
        <ion-button shape="full" (click)="sendMessage()">
          <ion-icon name="paper-plane"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
