<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Pair to Pair Chat
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


  <div id="container">
    <ion-item *ngIf="myId">
      <ion-label > ID : </ion-label>
      <ion-input readonly="true" [(ngModel)]="myId"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Partenaire :</ion-label>
      <ion-input placeholder="ID du partenaire" [(ngModel)]="otherId"></ion-input>
    </ion-item>
    <ion-button class="button" color="primary" (click)="connect()" [disabled]="!otherId || tryingToConnect">Contacter</ion-button>
  </div>
</ion-content>
